[submodule "ssp-relay-enterprise"]
	path = ssp-relay-enterprise
	url = https://github.com/RunOnFlux/ssp-relay-enterprise.git
[submodule "ssp-relay-dashboard"]
	path = ssp-relay-dashboard
	url = https://github.com/RunOnFlux/ssp-relay-dashboard.git
